作業目標:

運用索引找出需要資料
合併資料的分法應用
作業重點:

分辨索引loc、iloc差別
分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate
題目:
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [2]:
Stock_09 = pd.read_csv('STOCK_DAY_0050_202009.csv')
Stock_10 = pd.read_csv('STOCK_DAY_0050_202010.csv')

In [4]:
Stock_data = pd.concat([Stock_09, Stock_10], axis=0)

In [5]:
Stock_data.loc[(Stock_data.open<Stock_data.close), ['open', 'close']]

      open   close
0   102.45  103.35
3   102.00  102.55
5   102.75  103.00
6   101.75  102.30
7   102.80  103.20
8   103.20  103.25
9   103.50  104.55
10  104.45  104.95
19  101.35  102.30
21  102.75  103.00
1   104.00  104.25
2   104.00  104.80
3   105.45  106.20
4   106.70  107.05
9   105.65  106.60
12  105.70  106.10